body,
html {
	margin: 0;
	padding: 0;
}

:root {
	--fontSize: xx-large;
}

.transparent {
	background-color: transparent;
}

.flexColumnContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.homeScreenText {
	background-color: transparent;
	color: white;
	font-size: var(--fontSize);
	outline: none;
	border: none;
	font-weight: bold;
}

.homeScreenButton,
.gameLoadingScreenText,
.gameText {
	background-color: transparent;
	color: white;
	font-size: var(--fontSize);
	outline: none;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	width: auto;
	text-align: center;
	margin: 0;
}

.homeScreenButton:hover::before {
	content: ">>";
	background-color: transparent;
	color: white;
	font-size: var(--fontSize);
	outline: none;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
}

#gameTime,
#gameNightNumberDiv {
	text-align: right;
	align-self: right;
}

.gameControlButton {
	width: min(2.5vw, 3vh);
	height: min(2.5vw, 3vh);
	background-color: #aa0000;
	position: absolute;
	z-index: 3;
	border: min(0.5vw, 0.7vh) solid #323;
}

.gameControlButton[state="on"] {
	background-color: #00aa00;
}

.gameDarkRect {
	position: absolute;
	background-color: black;
	z-index: 1;
}
